<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REST Assured Suite TestNG Tests">
  <test name="Incidents">
      <classes>
      	<class name="services.IncidentTests"/>
      	<class name="services.AnotherIncidentTests"/>
      	<class name="runner.RunTest"/>
      </classes>
  </test> <!-- Test -->    
</suite> <!-- Suite -->
